@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
    background-color: rgb(78, 64, 159);
}
h1 {
    color:palevioletred;
    font-size: 24px;
}

p {
    color:white;
    font-weight: bold;
}
.container {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
  }

  .left-link,
  .right-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
  }
  
  .left-link:hover,
  .right-link:hover {
    background-color: #ddd;
  }

 
